@using Lychee.Stocks.Domain.Helpers
@using Lychee.Stocks.Helpers
@using Lychee.Stocks.InvestagramsApi.Constants
@model IEnumerable<Lychee.Stocks.Models.Reports.MarketStatusItemViewModel>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Stock</th>
            <th>Last</th>
            <th>Chg (%)</th>
            <th>Value</th>
            <th>Volume</th>
        </tr>

        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                var stockClass = StockUIClassHelper.StockColourClass(item.ChangePercentage);
            <tr>
                <td>
                    <a href="@string.Format(UrlConstants.InvestagramsStockUrl, item.StockCode)" target="_blank">@item.StockCode</a>
                    @if (!string.IsNullOrEmpty(item.Badge))
                    {
                        <span class="label label-@item.BadgeClass pull-right">@item.Badge</span>
                    }
                </td>
                <td class="@stockClass">@item.Last</td>
                <td class="@stockClass">@item.ChangePercentage%</td>
                <td>@item.Value.ConvertToShortHand()</td>
                <td>@item.Volume.ConvertToShortHand()</td>
            </tr>
            }
        </tbody>
    </table>