<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-stocks navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header" id="nav-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("My Stocks", "Index", "Home", new { area = "" }, new { @class = "navbar-brand color-white" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Watch List", "About", "Home")</li>
                    <li>@Html.ActionLink("Predictions", "About", "Home")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Stocks <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Stock List", "TrendingNow", "Report")</li>
                            <li role="separator" class="divider"></li>
                            <li>@Html.ActionLink("Should I buy this stock?", "ShouldIBuyStock", "Stock")</li>
                            <li>@Html.ActionLink("Should I buy trending stock?", "ShouldIBuyTrendingStock", "Stock")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Reports <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Trending Now", "TrendingNow", "Report")</li>
                            <li>@Html.ActionLink("DownTrends", "DownTrends", "Report")</li>
                            <li>@Html.ActionLink("UpTrends", "UpTrends", "Report")</li>
                            <li>@Html.ActionLink("Breakouts", "UpTrends", "Report")</li>
                            <li role="separator" class="divider"></li>
                            <li>@Html.ActionLink("Bids And Asks", "UpTrends", "Report")</li>
                            <li>@Html.ActionLink("Most Trades", "UpTrends", "Report")</li>
                            <li>@Html.ActionLink("Top Volume/Losers/Winners", "MarketStatus", "Report")</li>
                            <li role="separator" class="divider"></li>
                            <li>@Html.ActionLink("Recommended Stocks", "UpTrends", "Report")</li>
                            <li>@Html.ActionLink("Suspended And On Sale", "SuspendedAndOnSale", "Report")</li>
                            <li>@Html.ActionLink("Oversold And Overbought", "UpTrends", "Report")</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Settings", "Index", "Settings")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My Stocks</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
