@model List<Lychee.Stocks.Models.News.NewsViewModel>


@foreach (var news in Model)
{
    <div class="row news">
        <div class="news-image">
            <img src="@news.ImageUrl" class="img-responsive" />
        </div>
        <div class="news-body">
            <div class="title">
                @if (news.IsInWatchList)
                {
                    <span class="glyphicon glyphicon-star" aria-hidden="true" style="color: gold;" title="Is in watchlist"/>
                }
                <span class="stock-code">@news.StockCode</span>
                <span class="news-date">@news.DateString</span>
            </div>

            <div class="title">@news.Title</div>
            <a href="@news.Url" target="_blank">Read More</a>
        </div>
    </div>
}

