@using Lychee.Stocks.Domain.Enums
@using Lychee.Stocks.Domain.Helpers
@using Lychee.Stocks.InvestagramsApi.Constants
@model IEnumerable<Lychee.Stocks.Entities.StockTrendReportModel>

@{
    var stockCodes = (List<string>) ViewData["CodeExistsForAll"];
}

<table class="table table-hover">
    <tr>
        <th>
            Code
        </th>
        <th>
            Last
        </th>
        <th>
            Volume
        </th>
        <th>
            Low
        </th>
        <th>
            High
        </th>
        <th>
            Stock Type
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        var highlightClass = stockCodes != null && stockCodes.Contains(item.StockCode) ? "report-stock-highlight" : "";
        var stockTypeClass = item.StockType == StockTypes.BlueChips ? "color-blue" : item.StockType == StockTypes.ClassA ? "color-downtrend" : ""; //move this to a service
        <tr class="@highlightClass">
            <td>
                <a href="@string.Format(UrlConstants.InvestagramsStockUrl, item.StockCode)" target="_blank">@item.StockCode</a>
            </td>
            <td>
                @item.Last
            </td>
            <td>
                @item.Volume.ConvertToShortHand()
            </td>
            <td>
                @item.Low
            </td>
            <td>
                @item.High
            </td>
            <td class="@stockTypeClass">
                @item.StockType
            </td>
        </tr>
    }

</table>