@model IEnumerable<Lychee.Entities.Entities.Setting>

@{
    ViewBag.Title = "Settings";
}


<h2>Settings</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Key)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Value)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Group1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Group2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Key)
            </td>
            <td>
                @Html.TextBoxFor(modelItem => item.Value, new { @class = "form-control" })
            </td>
            <td>
                @Html.TextBoxFor(modelItem => item.Category, new { @class = "form-control" })
            </td>
            <td>
                @Html.TextBoxFor(modelItem => item.Group1, new { @class = "form-control" })
            </td>
            <td>
                @Html.TextBoxFor(modelItem => item.Group2, new { @class = "form-control" })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a href="javascript:void(0)" class="js-update" data-id="@item.SettingId" data-name="@item.Key">Update</a> |
                @Html.ActionLink("Delete", "Delete", new {id = item.SettingId})
            </td>
        </tr>
    }
</table>

@section scripts
{
    <script src="~/Scripts/Custom/Setting.js"></script>
}
