@using Lychee.Stocks.CustomHelper
@{
    ViewBag.Title = "My Stocks";
}

@section scripts_head {
    <script src="~/Scripts/Chart/chart.min.js"></script>
    <script src="~/Scripts/Chart/chart-utils.js"></script>
}

<header class="page-heading">
    <div class="container-fluid">
        @if (TempData["FetchRealTimeData"] != null)
        {
            <div class="alert alert-success" role="alert">
                Successfully fetched real time data
            </div>
        }

        <p>The key to making money in stocks is not to get scared out of them</p>
        <p>Have patience. Stocks don't go up immediately</p>
        <br />
        <a href="/Stock/FetchRealTimeData" class="btn btn-primary btn-lg">Fetch Real Time Data &raquo;</a>
        <p>
            @{ Html.RenderAction("LastDataUpdates", "Stock");}
        </p>
    </div>
</header>

<div class="row dashboard">
    <div class="col-md-2">
        <h2>Trending</h2>
        <p>
            @Html.AsyncPartialLoader("TrendingStocks", "Home")
        </p>

        <hr />

        <h2>Top 10 Highest Trades</h2>
        <p>
            <canvas id="Top10TradesCanvas" height="400"></canvas>
        </p>

        <hr />
        
        <h2>Top 10 Highest Volumes</h2>
        <p>
            <canvas id="Top10VolumesCanvas" height="400"></canvas>
        </p>

        <hr />

        <h2>Dividends</h2>
        <p>
            @Html.AsyncPartialLoader("Dividends", "Home")
        </p>
    </div>
    <div class="col-md-2">
        <h2>News</h2>
        <p>
            @Html.AsyncPartialLoader("News", "Home")
        </p>
    </div>
    <div class="col-md-4">


        <div>
            @Html.AsyncPartialLoader("SteepDown", "Home")
        </div>
        <div>
            @Html.AsyncPartialLoader("FiftyTwoWeekLow", "Home")
        </div>

        <div>
            @Html.AsyncPartialLoader("Oversold", "Home")
        </div>

        <h2 class="color-downtrend">8/10 Down Trends</h2>
        <div>
            @{ Html.RenderAction("StockTrendReport", "Stock", new { days = 10, losingWinningStreak = 8, trend = "Bearish" });}
        </div>
    </div>
    <div class="col-md-4">
        <div>@Html.AsyncPartialLoader("GreenVolume", "Home")</div>
        <div>@Html.AsyncPartialLoader("MorningStarDoji", "Home")</div>
        <div>@Html.AsyncPartialLoader("Hammers", "Home")</div>
        <div>@Html.AsyncPartialLoader("AboutToCrossMacd", "Home")</div>
        <div>@Html.AsyncPartialLoader("CrossingMacd", "Home")</div>
    </div>
</div>

@section scripts_footer
{
    <script src="~/Scripts/Chart/top10-trades.js"></script>
}
