@using Lychee.Stocks.CustomHelper
@{
    ViewBag.Title = "My Stocks";
}

<header class="page-heading">
    <div class="container-fluid">
        @if (TempData["FetchRealTimeData"] != null)
        {
            <div class="alert alert-success" role="alert">
                Successfully fetched real time data
            </div>
        }

        <p>The key to making money in stocks is not to get scared out of them</p>
        <p>Have patience. Stocks don't go up immediately</p>
        <br />
        <a href="/Stock/FetchRealTimeData" class="btn btn-primary btn-lg">Fetch Real Time Data &raquo;</a>
        <p>
            @{ Html.RenderAction("LastDataUpdates", "Stock");}
        </p>
    </div>
</header>

<div class="row dashboard">
    <div class="col-md-2">
        <h2>Trending</h2>
        <p>
            @Html.AsyncPartialLoader("TrendingStocks", "Home")
        </p>
        
        <hr/>

        <h2>Dividends</h2>
        <p>
            @Html.AsyncPartialLoader("Dividends", "Home")
        </p>
    </div>
    <div class="col-md-2">
        <h2>News</h2>
        <p>
            @Html.AsyncPartialLoader("News", "Home")
        </p>
    </div>
    <div class="col-md-4">

        @Html.AsyncPartialLoader("SteepDown", "Home")
        @Html.AsyncPartialLoader("FiftyTwoWeekLow", "Home")

        <h2 class="color-downtrend">Oversold < 20</h2>
        <p>
            @Html.AsyncPartialLoader("Oversold", "Home")
        </p>
        <hr />
        <h2 class="color-downtrend">8/10 Down Trends</h2>
        <p>
            @{ Html.RenderAction("StockTrendReport", "Stock", new { days = 10, losingWinningStreak = 8, trend = "Bearish" });}
        </p>
    </div>
    <div class="col-md-4">

        <h2 class="color-uptrend">MACD About to Cross</h2>
        <p>@Html.AsyncPartialLoader("AboutToCrossMacd", "Home")</p>

        <hr />

        <h2 class="color-uptrend">MACD Crossing</h2>
        <p>@Html.AsyncPartialLoader("CrossingMacd", "Home")</p>
        
    </div>
</div>