@using Lychee.Stocks.Domain.Helpers
@using Lychee.Stocks.InvestagramsApi.Constants
@model List<Lychee.Stocks.Entities.StockHistory>

@if (Model.Any())
{
    <h2 class="color-downtrend">Steep Down</h2>
    <p>Stocks with potential bounce</p>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>
                Code
            </th>
            <th>
                Last
            </th>
            <th>
                Change %
            </th>
            <th>
                Open
            </th>
            <th>
                Volume
            </th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        @foreach (var item in Model)
        {
            var trendColour = item.Last > item.Open ? "color-uptrend" : item.Last < item.Open ? "color-downtrend" : "";
            <tr>
                <td>
                    <a href="@string.Format(UrlConstants.InvestagramsStockUrl, item.StockCode)" target="_blank">@item.StockCode</a>
                </td>
                <td class="@trendColour">
                    @item.Last
                </td>
                <td>
                    @item.ChangePercentage %
                </td>
                <td>
                    @item.Open
                </td>
                <td>
                    @item.Volume.ConvertToShortHand()
                </td>
                <td>
                    <a href="@Url.Action("StockAnalysis", "Stock", new { stockCode = item.StockCode})" target="_blank">Should I buy?</a>
                </td>
            </tr>
        }
        </tbody>

    </table>

}
